.flex
    flex 0 1 auto !important

.v-icon
    color inherit !important

.v-application p
    margin-bottom inherit !important


.page-enter-active,
.page-leave-active
    transition opacity 0.125s
.page-enter,
.page-leave-to
    opacity 0


.character-create-card
    background-image linear-gradient(to top, transparent, var(--color-white)), url("../images/create-character.jpg")
    background-color: black
    background-size cover
    background-position 0 12em
    transition-property initial !important
    &:hover
        background-position 0 0
        // border 10px solid black
